.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.wrapper {
    background-color: var(--softBg);
    padding: 6.25rem 12rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.socialButton {
    padding: 1.25rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialButton:first-child {
    background-color: #ff5555;
}

.socialButton:nth-child(2) {
    background-color: #111;
}

.socialButton:nth-child(3) {
    background-color: #087BEA;
}

/* RESPONSIVE DESING */
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 3.125rem 6.25rem;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 2rem 3rem;
    }

    .socialButton {
        font-weight: 400;
        font-size: 0.9rem;
    }
}