.container {
    margin-top: 1.9rem;
}

.title {
    font-size: 6rem;
    font-weight: 300;
}

.post {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 3.125rem;
    margin-top: 2.5rem;
}

.imgContainer {
    flex: 1;
    position: relative;
    height: 450px;
}

.image {
    object-fit: cover;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.postTitle {
    font-size: 2.6rem;
}

.postDesc {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--softTextColor);
}

.button {
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 5px;
    width: max-content;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1200px) {
    .title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 4rem;
    }

    .imgContainer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 2.2rem;
    }
}