.container {
  margin-top: 3.125rem;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 1.8rem;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
}

.input {
  padding: 1.25rem;
  width: 100%;
}

.button {
    padding: 1rem 1.25rem;
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.comments {
    margin-top: 3.125rem;
}

.comment {
    margin-bottom: 3.125rem;
}

.image {
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.username {
    font-weight: 500;
}

.date {
    font-size: 0.9rem;
}

.desc {
    font-size: 1.1rem;
    font-weight: 300;
}

/* RESPONSIVE DESIGN */