.container {
    flex: 2;
    margin-top: 5rem;
}

.subtitle {
    color: gray;
    font-size: 1rem;
    font-weight: 400;
}

.title {
    font-size: 1.8rem;
}

.items {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.imageContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category {
    padding: 3px 8px;
    border-radius: .6rem;
    font-size: .7rem;
    color: white;
}

.category.travel {
    background-color: #ff7857;
    width: max-content;
}

.category.culture {
    background-color: #ffb14f;
    width: max-content;
}

.category.food {
    background-color: #7fb811;
    width: max-content;
}

.category.fashion {
    background-color: #ff7887;
    width: max-content;
}

.postTitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail {
    font-size: .7rem;
}

.date {
    color: gray;
}